<h1 class="mb-4 text-center">All Students Details</h1> 

<div class="d-flex justify-content-center mb-3">
  <%= link_to "New Student", new_student_path, class: "btn btn-success" %>
</div>

<div class="d-flex justify-content-center">
  <table class="table table-bordered table-hover w-auto text-center">
    <thead class="table-dark">
      <tr>
        <th>S.No</th>   
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Marks</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each_with_index do |student, index| %>
        <tr>
          <td><%= index + 1 %></td> 
          <td><%= student.name %></td>
          <td><%= student.age %></td>
          <td><%= student.gender %></td>
          <td><%= student.marks %></td>
          <td>
            <div class="btn-group" role="group">
              <%= link_to 'Show', student_path(student), class: "btn btn-primary btn-sm" %>
              <%= link_to 'Edit', edit_student_path(student), class: "btn btn-warning btn-sm" %>
              <%= button_to 'Delete', student_path(student), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
